<p>Ze vinden het niet genoeg dus er komen nieuwe eisen</p>
<p>Oude eisen: 1 Laat een tekst zien. 2 Wegklikbaar</p>
<p>Nieuwe eisen: 1 Twee tekst kleuren: warn(oranje), danger(rood). 2 In de callout moet de user een actie kunnen
    accepteren of dismissen, 3 de callout moet een optionele titel hebben</p>
    
<app-callout-second 
    *ngIf="showCallOut$ | async" 
    [title$]="title$"
    [text$]="callOutText$" 
    (closeCallout)="handleClose()"
    (accept)="handleCalloutAction('accept')" 
    (dismiss)="handleCalloutAction('dismiss')"
    [showDismiss]="true"
    color="warn"
>
</app-callout-second>

<app-callout-second 
    *ngIf="showCallOut2$ | async"
    [text$]="callOutText2$"
    (closeCallout)="handleClose2()"
    (accept)="handleCalloutAction('accept')" 
    (dismiss)="handleCalloutAction('dismiss')"
    [showAccept]="true"
    color="danger"
>
</app-callout-second>


<hr>
<p>Dit is expres niet echt geoptimaliseerd maar het gaat om het idee hoe een component kan groeien.</p>
<p>Er kunnen bijvoorbeeld custom actions zijn die je wilt aanroepen vanuit een actie in dit component, denk aan een excel export ofzo -> callout met tekst: 'Nieuwe excel beschikbaar!' en een 'download excel' button.</p>
<p>Misschien komen er ook wel feature requests om inputs in de callout te kunnen zetten, bijvoorbeeld een selectbox om direct bepaalde acties uit te kunnen voeren. Dit zijn dan weer hele specifieke context afhankelijke acties die zich moeilijk laten vangen in inputs/outputs</p>
<p>Misschien wil je de tekstgrootte variable maken ...( textSize='big'), of autoclosen ([autoclose]="3000") om maar wat te noemen.</p>
<p>Als je dit soort dingen wil doen met inputs/outputs wordt het al snel veel code, en moet het component ook vaak business logic uitvoeren</p>
