<p>Een voorbeeld van nested content projection</p>

<app-callout-third *ngIf="showCallOut$ | async">
    <span closePlaceHolder (click)="handleClose()">x</span>
    <h3 title>{{title$ | async}}</h3>
    <div text><p class="warn">{{callOutText$ | async}}</p></div>
    <button actionButton (click)="handleCalloutAction('dismiss')">Dismiss</button>
</app-callout-third>
<br>
<br>
<br>

<app-callout-third *ngIf="showCallOut2$ | async">
    <span closePlaceHolder (click)="handleClose2()">x</span>
    <h3 title>{{title$ | async}}</h3>
    <div text>
        <app-big-text>
            <app-bordered>
                <p class="danger">{{callOutText2$ | async}}</p>
            </app-bordered>
        </app-big-text>
    </div>
    <button actionButton (click)="handleCalloutAction('accept')">Accept</button>
</app-callout-third>

