<p>Angular gebruikt heel veel content projection zonder dat jij het gebruikt. Inspecteer je router-outlet maar eens, daar staat ook _ng-content in.</p>
<p>Maar ook Angular material/components gebruikt heel veel content-projection met ViewEncapsulation.None. Zie <a href="https://github.com/angular/components/tree/master/src/material/button" target="_blank">hier</a></p>
<pre>
    {{cardExample}}
</pre>

<p>Superfantastisch? mjah</p>
<p>VueJs heeft een concept wat scoped slots heet. Dit is eigenlijk content projection zoals angular heeft, maar dan kan je weer de context van het childcomponent als property doorgeven. Dat is echt flexibel (maar geeft ook een beetje hoofdpijn om te begrijpen).</p>
<pre>{{scopedSlot}}</pre>

<p>Maar ja, VueJs kent dan weer geen templateRefs, die ook weer gelijksoortige problemen oplossen.</p>