<p>Content projection in angular (transclusion)</p>
<br>
<hr>
<p>Een voorbeeldje: callout component</p>
<p>Eisen: 1 Laat een tekst zien. 2 Wegklikbaar</p>
<p>dan wordt het al snel iets als dit:</p>
<app-callout-first *ngIf="showCallOut$ | async" [text$]="callOutText$" (closeCallout)="handleClose()"></app-callout-first>