<p>Ze vinden het niet genoeg dus er komen nieuwe eisen</p>
<p>Oude eisen: 1 Laat een tekst zien. 2 Wegklikbaar</p>
<p>Nieuwe eisen: 1 Twee tekst kleuren: warn(oranje), danger(rood). 2 In de callout moet de user een actie kunnen
    accepteren of dismissen, 3 de callout moet een optionele titel hebben</p>
<p><b>Nu met content projection/transclusion</b></p>    

<app-callout-third *ngIf="showCallOut$ | async">
    <span closePlaceHolder (click)="handleClose()">x</span>
    <h3 title>{{title$ | async}}</h3>
    <div text><p class="warn">{{callOutText$ | async}}</p></div>
    <button actionButton (click)="handleCalloutAction('dismiss')">Dismiss</button>
</app-callout-third>

<app-callout-third *ngIf="showCallOut2$ | async">
    <span closePlaceHolder (click)="handleClose2()">x</span>
    <h3 title>{{title$ | async}}</h3>
    <div text><p class="danger">{{callOutText2$ | async}}</p></div>
    <button actionButton (click)="handleCalloutAction('accept')">Accept</button>
</app-callout-third>

<hr>
<p>Nu is de callout component niets meer dan een verzameling ng-content tags, vaak slots genoemd (komt uit de webcomponent spec), en wat css. Geen inputs en outputs meer. Echt een dom component.</p>
<p>Als je nu bijvoorbeeld een excel wil laten downloaden kan je de actionbutton een action geven die al in de scope van de container component zit.</p>
<p>Het krachtige hiervan is dat content projection oneindig door kan gaan. In een slot kan een component geplaatst worden met daarin weer content projection enz.</p>
<p>dit kan overigens ook met named slots. Dan krijg je zoiets:</p>
<pre>
    {{namedSlotExample}}
    
</pre>
<p>Dat is heel mooi (de tags zijn heel beschrijvend). Het probleem is dat ze niet herkend worden en je dan NO_ERRORS_SCHEMA moet zetten en allerlei errors niet meer ziet.</p>